<div class= "container">
  <h1>Questions</h1>

  <h3><a href= "/questions/new">Create a New Question</a></h3>

  <ul>
    <% @questions.each do |question| %>
    <li><a href="/questions/<%=question.id%>"><%=question.title%></a></li>
    <% end %>
  </ul>
</div>
