<div class= "container">
  <h1>Questions</h1>

  <table class="question-table">
    <% @questions.each do |question| %>
      <%= erb :'/questions/_individual_question', locals: {question: question} %>
    <tr>
      <td><a id = "question-title" href="/questions/<%=question.id%>"><%=question.title%></a></td>
    </tr>
    <% end %>
  </table>

  <h3><%= erb :'/_errors', layout: false %></h3>

  <form id = "question-form" class = "hidden" action = "/questions" method = "POST">
    <input type ="text" name= "question[title]" placeholder= "Title">
    <input type ="text" name= "question[description]" placeholder= "description">
    <input type ="submit" value= "Create Question">
  </form>


</div>
