<div class= "container">

  <div class="profile-container">
  <h1 class="orange-underline">Questions</h1>
  </div>

  <h3><%= erb :'/_errors', layout: false %></h3>
  <form id = "question-form" class = "hidden" action = "/questions" method = "POST">
    <br>
  <h3 class="white">Ask a Question</h3><br>
    <input type ="text" name= "question[title]" placeholder= "Title" class="title-box"><br><br>
    <input type ="text" name= "question[description]" placeholder= "description" class="description-box"><br><br>
    <input type ="submit" value= "Create Question">
  </form>

  <table class="question-table">
    <% @questions.reverse.each do |question| %>

    <%= erb :'/questions/_individual_question', locals: {question: question} %>

    <% end %>
  </table>

</div>
