<div class= "container">
  <h1>Create a New Question</h1>

  <h3><%= erb :'/_errors', layout: false %></h3>

  <form action = "/questions" method = "POST">
    <input type ="text" name= "question[title]" placeholder= "Title">
    <input type ="text" name= "question[description]" placeholder= "description">
    <input type ="submit" value= "Create Question">
  </form>
</div>
