<div class="container">

  <div class="profile-container">
  <div class="orange-underline">
  <h1 class="blue">Login to Travel Overflow!</h1>
  </div>
  </div>

<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<div class="sign-form-container">

<form action = "/login" method = "POST">
  <input type = "text" name= "username" placeholder = "username" class="title-box"><br>
  <input type = "password" name = "password" placeholder = "password" class="title-box"><br>
  <input type = "submit" value = "Login" class="register-button">
</form>

</div>

<div class="profile-container">
  <h3 class="blue">Not registered?<a href="/login" class="orange"> Sign up now!</a></h4>
</div>

</div>
