<div class="container">
  <h1>Login to TravelOverflow</h1>

<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<form action = "/login" method = "POST">
  <input type = "text" name= "username" placeholder = "username">
  <input type = "password" name = "password" placeholder = "password">
  <input type = "submit" value = "Login">
</form>

<h3>Not registered?<a href="/users/new"> Sign up now!</a></h3>



</div>
