<div class= "container">
  <h1><%=@answer.description%></h1>

  <ul>
    <% @comments.each do |comment| %>
    <li>
        <%=comment.description%></li>
    <% end %>
  </ul>

  <h3><a href= "/questions/<%=@question.id%>/answers/new">Add a Comment</a></h3>

</div>
