body {
  background-color: #E7E7E7;
}
.container {
  margin-top: 12em;
  text-align: center;
  padding-bottom: 5em;
}

#question-form {
  background-color: #3A5863;
  width: 44em;
  height: 22em;
  margin-left: auto;
  margin-right: auto;
}

.white {
  color: white;
}

.title-box {
  height: 2em;
  width: 30em;
}

.description-box {
  height: 8em;
  width: 30em;
  word-wrap: break-word;
  display: inline;
  margin-top: 0;
}
.vote-button {
  font-size: 12px;
  display: inline-block;
  float: right;
}

.question-table {
  margin-left: auto;
  margin-right: auto;
}

.question-table td {
  padding: 2em;
  background-color: #3A5863;
  border: .5em solid;
  border-color: #E7E7E7;
  width: 40em;
}

.question-table a {
  color: white;
}

.question-table a:hover {
  color: #D86E3E;
}

.question-title {
  width: 55em;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 5px solid;
  border-color: #D86E3E;
  color: #3A5863;
  margin-bottom: 0;
}

.question-description {
  margin-left: auto;
  margin-right: auto;
  width: 55em;
  padding-right: 5em;
  padding-left: 5em;
}

.question-description p {
  font-size: 120%;
  color: #3A5863;
  word-wrap: break-word;
}


#top-header {
  background-color: #3A5863;
  height: 2em;
  width: 100%;
  position: absolute;
  top: 0;
}

#footer {
  background-color: #3A5863;
  height: 4em;
  width: 100%;
  position: fixed;
  bottom: 0;
}

#copyright {
  color: white;
  padding-left: 15%;
  position: absolute;
}

#creators a {
  color: white;
  padding-right: 15%;
  float: right;
  position: relative;
}

#creators a:hover {
  color: #D86E3E;
  padding-right: 15%;
  float: right;
  position: relative;
}


#top-header-login a {
  color: white;
  float: right;
  margin-top: -1em;
  margin-right: 15%;
}

#top-header-profile a {
  color: white;
  float: right;
  margin-top: -1em;
  margin-right: 2%;
}

#top-header-signup a {
  color: white;
  float: right;
  margin-top: -1em;
  margin-right: 2%;
}

#logo-header {
  height: 8em;
  width: 100%;
  position: absolute;
  top: 2em;
  padding-right: 10em;
}

#logo-header img {
  position: absolute;
  top: 2em;
  padding-left: 15%;
}


#ask-a-question-button a {
  background-color: #3A5863;
  position: relative;
  font-weight: normal;
  width: -webkit-fit-content;
  padding: .5em;
  color: white;
  float: right;
  top: 1.5em;
  margin-right: 15%;
}

#ask-a-question-button a:hover {
  background-color: #3A5863;
  position: relative;
  font-weight: normal;
  width: -webkit-fit-content;
  padding: .5em;
  color: white;
  float: right;
  top: 1.5em;
  margin-right: 15%;
}

.questions-button a {
  background-color: #3A5863;
  font-weight: normal;
  position: relative;
  width: -webkit-fit-content;
  padding: .5em;
  color: white;
  float: right;
  top: 1.5em;
  margin-right: 2%;
}

.questions-button a:hover {
  background-color: #3A5863;
  font-weight: normal;
  position: relative;
  width: -webkit-fit-content;
  padding: .5em;
  color: white;
  float: right;
  top: 1.5em;
  margin-right: 2%;
}

.hidden {
  display: none;
}

